<body>
    <div id="content">
        <header>
    . . .
        </footer>
    </div>
</body>
div {
    height: 200px;
    width: 1600%;
    background-color: powderblue;
  }
  div.a {
    text-align: center;
  }
  
  div.b {
    text-align: left;
  }
  
  div.c {
    text-align: right;
  }
  
  div.c {
    text-align: justify;
  }
  p {
  }
  nav a
  #hero-msg h1, #hero-msg h4
  .button-box
  main section