#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a{
  text-align: center;
  color: #FFBF69;
  text-decoration: none;
  padding: 35px;
}

#hero-msg h1, #hero-msg h4{
  text-align: center;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

.button-box{
  text-align: center;
}

main section{
  text-align: center;
}

#background{
  height: 725px; 
}

body{
  background-color: #CBF3F0;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin:0;
  padding:0;
}

h2 {
  margin: 0;
}

.home-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

.msg h2{
  background-color: blanchedalmond;
}

nav a:hover{
  background-color: orange;
  color: white;
}

.book, .join{
 text-align: center;
 font-size: 18px;
  background-color: white;
  color: burlywood;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
}

.book:hover, .join:hover{
  background-color: white;
  color: black;
}

#background{
  background-color: whitesmoke;
  color: #CBF3F0;
}

.msg{
  background-color: blanchedalmond;
  line-height: 1.5em;
  color: black;
  padding-bottom: 15px;
}

footer{
  background-color: blanchedalmond ;
  color: black;
  padding: 25px 50px;
}

#logo_link{
  padding-top: 5px;
  justify-self: center;
  align-self: center;
} 

nav a{
  padding: 35px;
} 

.book, .join{
  padding: 15px 30px;
  border-radius: 5px; 
}  

.icon{
  padding-top: 10px;
}   

.msg{
  padding: 35px; 
}   

.msg p{
  padding-bottom: 15px;
}   

footer{
  padding: 25px 50px;
}  

footer .social img{
  padding-top: 15px;
} 

.rivers-card, .camping-card, .rapid-cards {
  margin:200px 0;
}

footer {
  margin-top: 200px
}

.card-img {
  border-color:black;
  border:10px;
}

main section img{
  box-sizing: border-box;
}
.logo {
width: 80px;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg h4 {
  color: white;
}

#hero-img {
width: 100%
}

footer p a, footer div a{
text-decoration: none;
}